body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #454c5e; /* biru tua */
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-top: 25px;
    color: #2c2c54;
}

p, ul {
    font-size: 15px;
    line-height: 1.6;
    color: #2c2c54;
}

.back-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background: #4b7bec;
    color: #ffff;
    text-decoration: none;
    border-radius: 10px;
}

.back-btn:hover {
    background: #2c2c54;
}
